<div class="container-sm">
    <h2>Lists of posts</h2>
</div>

<div class="container-sm">
    <%= link_to "Create post", new_post_path %>
</div>

<div class="container-sm">
    <% @posts.each do |post| %>
    <%= render partial: "post", locals: {post: post} %>
    <% end %>
</div>

<!-- <div class="container-sm">
    
    
</div>
<div class="container-sm">
    <% @posts.each do |post| %>
    <%= render partial: "post", locals: {post: post} %>
    <% end %>
</div> -->

<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

<div class="card" style="width: 18rem;">
    <div><%= link_to(image_tag(post.pic, class: "my-pic"), post) %></div>
    <div class="card-body">
        <p><%= post.caption %></p>
        <p><%= link_to post.user.email, post.user %></p>
    </div>
</div>